


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="emp-list" routerLink="emp-list">Employee list</a>
        <a class="nav-link" routerLink="add-form">Employee Form</a>
        <a class="nav-link" routerLink="data-binding">Data Binding</a>
        <a class="nav-link" routerLink="structural-directive">Structural Directive</a>
        <a class="nav-link" routerLink="attribute-directive">Attribute Directive</a>
        <a class="nav-link" routerLink="ifelse">ifElse_for_switch</a>
        <a class="nav-link" routerLink="pipe">pipe</a>
        <a class="nav-link" routerLink="template-form">template-form</a>
        <a class="nav-link" routerLink="reactive-form">reactive-form</a>
        <a class="nav-link" routerLink="get-api">get-api</a>
        <a class="nav-link" routerLink="post-api">post-api</a>

      </div>

      
    </div>
  </div>
</nav>



<router-outlet></router-outlet>

<div class="container">
  <router-outlet></router-outlet>
</div>




















<!-- <h1>hello</h1> -->

<!-- <ul style="list-style-type: square">
        <li>
          <app-employee-form></app-employee-form>
        </li>
        <li>
          <app-employee-list></app-employee-list>
        </li>
      </ul> -->


      <!-- <app-data-binding></app-data-binding> -->


      <!-- <app-structural-directive></app-structural-directive> -->

      <!-- <app-attribute-directive></app-attribute-directive> -->


<!-- <router-outlet /> -->
